* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


/* layout */
.container {
    width: 70%;
    margin: 20px auto;
    
}

/* header */

.logo {
    width: 200px;
    padding-right: 20px;
    border-right: 1px solid gray;
}

nav {
    margin-top: 30px;
}

.nav-list li {
    list-style: none;
    display: inline;
}

nav a {
    text-decoration: none;
    color: #8D8D8D;
    margin-right: 10px;
}

/* main */


main, 
main section {
    margin-top: 25px;
}



.jambotron {
    width: 100%;
    /* height: 683px; */
    height: 500px;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),
    url('../img/banner.jpg'); */
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
}


.jambo-title {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding-top: 350px;
    padding-left: 80px;
    padding-right: 400px;
    border-radius: 10px;
    overflow: auto;
}

/* float */
.sect-central {
    margin-top: 40px;
}

/* header centrale */
.line {
    margin-bottom: 25px;
}

.line-title {
    font-size: 2.4em;
}

.sottotitolo {
    font-size:0.9em;
    color: gray;
}

.sect-central div[class*="column"]{
    height: calc(100% - 100px);
    float: left;
    margin-top: 10px;
}

/* colonne */

.column-left,
.column-right {
    width: 20%
    
}

/* colonna sx */
.plant-container {
    display: inline-block;
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 20px;
}

.plant {
    object-fit: cover;
    opacity: 80%;
    width: 100%;
    height: 250px;
}

/* colonna cenrale */
.column-center {
    width: calc(60% - 20px);
    margin: 0 10px;
}

.banner2-container{
    display: inline-block;
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 20px;
}

.banner2{
    opacity: 80%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* colonna destra */
.people-contain {
    display: inline-block;
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 20px;
}

.people {
    object-fit: cover;
    opacity: 80%;
    width: 100%;
    height: 100%;
    
}

/* footer */
footer {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.made::after{
    content: "\02764";
    color: red;
    margin-left: 5px;
}

h4{
    margin-top: 10px;
}